.image {
    width: 80px;
}
.skills .container {
    background:#44246d;
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.skills .container .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}
.skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    transition: 0.3s ease;
}
.skills .container .bar:hover{
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
}
.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.skills .container .bar .info span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}


.education {
  background: var(--bg-color);
  min-height: 80vh;
}
.education .qoute {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}
.education .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  transition: 0.3s;
  background: rgba(252, 252, 252, 0.76);
  cursor: pointer;
}
.education .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(194, 22, 209, 0.527);
}
.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}
.education .box-container .box img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}
.education .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #012970;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}
.education .box-container .box .content p {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: left;
  color: black;
}
.education h4 {
  font-size: 2rem;
  color: rgb(34, 109, 0);
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .education .box-container .box {
    flex-direction: column;
    width: 100%;
  }
  .education .box-container .box .image {
    width: 100%;
    height: 25rem;
  }
  .education .box-container .box img {
    width: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 0;
  }
  .education .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}

.btn-contact {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--second-bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-contact:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
}

.contact {
    background-color: var(--second-bg-color);
}
.contact1 {
    border-radius: 3%;
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    background: rgba(160, 160, 160, 0.452);
}
.contact3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
}
.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (max-width: 768px) {
    .contact1 {
        width: 90%;
        padding: 1rem;
        margin-top: 1rem;
    }

    .contact3 {
        grid-template-columns: 1fr; 
        gap: 2rem;
    }

    .social-icon a {
        font-size: 1.8rem; 
        margin: 0 10px;
        align-items: center;
        margin: 3rem 1.5rem 3rem 0;
    }

    .contact-container {
        flex-basis: 100%; 
    }


    .contact-form {
        padding: 1rem;
    }

    .btn-contact {
        display: block;
        margin: 1rem auto; 
        width: 100%;
    }
}

@media (max-width: 480px) {
    .social-icon a {
        font-size: 1.5rem; 
        align-items: center;
    }
    .div .social-icon {
        align-items: center;
    }

    p {
        font-size: 1.4rem; 
    }
}


.cat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.cat {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
  animation: shakeY 5s ease-in-out infinite; 
}

.cat img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-container {
  display: none;
  position: absolute;
  bottom: 120px;
  right: 0;
  width: 300px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-container:active {
  cursor: grabbing;
}

.chat-header {
  background-color: #7b4bb7;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#chat-body {
  padding: 10px;
  transition: opacity 0.5s;
}

.chat-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-body li {
  margin-bottom: 10px;
}

.chat-body a {
  text-decoration: none;
  color: #337ab7;
}

.chat-body a:hover {
  color: #23527c;
}

.speech-bubble {
  position: absolute;
  background-color: #000000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.speech-bubble-question {
  position: absolute;
  transform: translateX(-50%);
  font-size: 15px;
  font-weight: bold;
  color: #333;
  background-color: #f7f7f7;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: -5px;
}